<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softeem.hkvideo.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.softeem.hkvideo.entity.Comment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="commtime" column="commtime" jdbcType="TIMESTAMP"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="vid" column="vid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,commtime,
        uid,vid
    </sql>
</mapper>
